<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centros de Vacunación</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app" class="container">
      <div class="header">
        <div class="content-header">
          <div class="logo-vacunate">
            <img class="img-fluid" src="logo-vacunateRD.png" />
          </div>
          <h4 class="h4 header-title">
            ¡Desde el lunes 03 hasta el 10 de mayo ampliamos el operativo de
            vacunación!
          </h4>
          <h4 class="h4 header-title">En esta etapa atenderemos:</h4>
          <p>• Mayores de 50 años</p>
          <p>• Mayores de 75 años + 1 acompañante</p>
          <p>• Personas de segunda dosis</p>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <h3 class="h3 text-center mb-4">Puntos de vacunación</h3>
          <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
              <div class="row justify-content-center">
                <div class="col-md-8 mb-3">
                  <label for="province-selected"
                    >Seleccionar provincia o municipio</label
                  >
                  <select
                    v-model="provinceSelected"
                    id="province-selected"
                    class="form-control"
                    @change="provinceChange"
                  >
                    <option
                      v-for="province in provinces"
                      :value="province.centers"
                    >
                      {{ province.name }}
                    </option>
                  </select>
                </div>
              </div>
              <ul class="row mt-5">
                <li v-for="center in provinceSelected" class="col-md-6">
                  <span class="pr-3 mb-3 d-block">{{ center.name }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="centros_3.js"></script>
    <script src="app.js"></script>
  </body>
</html>
