<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Centros de Vacunación</title>
    <!-- favicon -->
    <link rel="icon" href="./favicon.ico" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app" class="container">
      <div class="header">
        <div class="content-header">
          <div class="logo-vacunate">
            <img class="img-fluid" src="logo-vacunateRD.png" />
          </div>
          <h4 class="h4 header-title">
            ¡A partir de hoy todos podemos vacunarnos con primeras y segundas dosis!
          </h4>
          <p>Ahora nos toca a todos, ¡vacúnate!</p>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <div class="container-1">
            <div class="col-sm-8">
              <h3 class="text-center">Puntos de vacunación</h3>
            </div>
            <div class="mybutton">
              <a
                type="button"
                href="https://www.google.com/maps/d/u/0/viewer?mid=1Fb7LlK3WqGsu2l8HmHrLSg0pD4J9ICdv"
                class="btn btn-danger"
                >Ver Mapa</a
              >
            </div>
          </div>

          <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
              <div class="row justify-content-center">
                <div class="col-md-8 mb-3">
                  <label for="province-selected"
                    >Seleccionar provincia o municipio</label
                  >
                  <select
                    v-model="provinceSelected"
                    id="province-selected"
                    class="form-control"
                    @change="provinceChange"
                  >
                    <option
                      v-for="province in provinces"
                      :value="province.centers"
                    >
                      {{ province.name }}
                    </option>
                  </select>
                </div>
              </div>
              <ul class="row mt-5">
                <li v-for="center in provinceSelected" class="col-md-6">
                  <span class="pr-3 mb-3 d-block">{{ center.name }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="centros_4.js"></script>
    <script src="app.js"></script>
  </body>
</html>
